body {
    color: #222;
    background-color: #F4F5F7;
    font-family: noto sans jp,YuGothic,hiragino kaku gothic pron,sans-serif;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight: bold;
    color: crimson;
}

hr {
    border: 1px solid;
}

#main {
    margin: 0 5%;
}
img#me {
    width: 230px;
    height: 230px;        
    margin: 10% auto;
    border-radius: 5%;
}
div#links {
    text-align: center;
    padding-bottom: 10%;
}
div#main > div#header > h1 {
    font-size: 160%;
    text-align: center;
}

/* for tablet */
@media only screen and (min-width: 640px) {
    #main {
        margin: 0 5%;
    }
    img#me {
        width: 230px;
        height: 230px;        
        margin: 10% auto;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1366px) {
    #main {
        margin: 0 5%;
    }
    img#me {
        width: 270px;
        height: 270px;        
        margin: 5% auto;
    }
}

/* for laptop or desktop */
@media screen and (min-width: 1367px) {
    img#me {
        width: 270px;
        height: 270px;
        margin: 5% auto;
    }
    div#links {
        text-align: center;
        padding-bottom: 5%;
    }
    div#main > div#header > h1 {
        text-align: center;
    }
}

